@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');


nav {
    display: flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    z-index: 1;
}

footer {
    display: flex;
    background-color: #396E94;
    padding: 32px;
    justify-content: space-around;
    align-items: center;
}

.logo, .icon {
    width: 80px
}

nav a {
    font-size: 2em;
    text-decoration: none;
    justify-self: center;
    align-self: center;
    color: #0A0A0B;
}

footer a {
    text-decoration: none;
    margin-right: 12px;
}

nav a:hover {
    background-color: #396E94;
}

footer h3 a:hover {
    text-decoration: underline;
}

dragon {
    display: grid;
    grid-template: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% / 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%
}

dragon-box {
    grid-area: 3 / 3 / 9 / 9
}